body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url('/src/images/BETMGM BOX BACKGROUND_00000.jpg');
  font-family: 'Times New Roman', Times, serif;
  color: #bda871
}

.betInfo {
  display: inline-block;
  padding: 2rem;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.1rem;
  width: 18.75rem;
  font-size: 1rem;
  padding: 0.5rem;
  font-family: inherit;
  border: none;
  border-bottom: 2px solid gray;
  background-color: #282a2d;
  color: #bda871;
}

.nav {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((90vw - 6.25rem) / 2);
  color: #282a2d;
  background-color: #bda871;
}

.person {
  margin: 2rem 2.3rem;
  margin-bottom: 1.5625rem;
  justify-content: center;
  text-align: center;
  border: #282a2d solid 1px;
  background-color: #bda871;
  display: inline-grid;
  width: 30rem;
  height: 20rem;
  box-shadow: 3px 4px #504b55;
  color: black;
}

.person button {
  width: 30rem;
  height: 1.5rem;
  background-color: #282a2d;
  color: #bda871;
}

#submitPersonButton {
  background-color: #282a2d;
  color: #bda871;
  margin: 1rem;
}

.table button {
  background-color: #282a2d;
  color: #bda871;
}

#addBetButton {
  margin: 1rem;
}

table, th, td {
  border: 1px solid;
}

table {
  width: 100%;
  background-color: #282a2d;
  border-collapse: collapse;
}